.register-container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.register-container h2 {
    text-align: center;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container label {
    margin: 10px 0 5px;
}

.register-container input,
.register-container select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #4cae4c;
}
