.App {
  text-align: center;
}

header {
  background-color: #6691e8;
  padding: 20px;
  color: white;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

footer {
  background-color: #6691e8;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
